<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moodairy_v1">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moodairy_v1">
        <activity android:name=".stats"></activity>
        <activity android:name=".emergency" />
        <activity android:name=".Calendar" />
        <activity android:name=".meditation" />
        <activity android:name=".home_screen" />
        <activity android:name=".forgot_password_1" />
        <activity android:name=".sign_in_2" />
        <activity android:name=".sign_in_1" />
        <activity android:name=".log_in" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>